.header {
  background-color: #F4F9E2;
  &__content {
   @include flex (center, null, null, column);
   min-height: calc(100vh - 84px);
   padding: 165px 0 77px;
  }
  &__title {
   @include text (48px, 600, 1.1, -0.035em, $accentColor);
    max-width: 484px;
    width: 100%;
    margin: 50px 0 75px;
  }
  &__text {
   @include text (24px, 400, 1.1, null, $accentColor);
    max-width: 472px;
    width: 100%;
    margin-bottom: 65px;
  }
  &__btn {
    background-color: #F9B640;
    display: inline;
    font-size: 16px;
    line-height: 1.4;
    padding: 10px 30px;
    letter-spacing: 0.1em;
    &:not(:last-child) {
      margin-right: 38px;
    }
  }
  &__btn--transparent {
    color: $linkColor;
    background-color: transparent;
  }
}