.header {
  background-color: #F4F9E2;
  &__content {
   @include flex (center, null, null, column);
   min-height: calc(100vh - 84px);
   padding: 120px 0 77px;
  }
  &__title {
   @include text (48px, 600, 1.1, -0.035em, $accentColor);
    max-width: 484px;
    width: 100%;
    margin: 50px 0 75px;
  }
  &__text {
   @include text (24px, 400, 1.1, null, $accentColor);
    max-width: 472px;
    width: 100%;
    margin-bottom: 65px;
  }
  &__box {
   @include flex (space-between, center, wrap);
   max-width: 375px;
   width: 100%;
  }
  &__link {
   @include flex (center, center);
    background-color: #F9B640;
    font-size: 16px;
    line-height: 1.4;
    width: 150px;
    height: 50px;
    letter-spacing: 0.1em;
    transition: color 0.5s ease, background-color 0.5s ease;
    &:hover {
     color: $secondaryColor;
     background-color: rgba(249, 182, 64, 0.4);
    }
  }
  &__link--transparent {
    color: $linkColor;
    background-color: transparent;
  }
}