.menu {
 @include flex (space-between, null, null, null);
  padding-top: 28px;
  &__burger {
    display: none;
    width: 30px;
    height: 30px;   
    border-radius: 3px;
    background-color: #f4f9e2;
  }
  &__line {
    display: block;
    background-color: #62D0DF;
    width: 30px;
    height: 2px;
    margin: 0 auto;
    position: relative;
    &::before,
    &::after {
      @include pseudo;
      background-color: #62D0DF;
      width: 30px;
      height: 2px;
      left: 0;
      top: -10px;
    }
    &::after {
      top: 10px;
    }
  }
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child){
      margin-right: 27px;
    }
  }
  &__link {
   @include text (14px, 600, 2.2, null, $accentColor);
    &:hover {
      border-bottom: 1px solid #22356F;
    }
  }
  &__btn {
    font-size: 14px;
    padding: 20px 30px;
    background-color: #62D0DF;
    border-radius: 50px;
    color: $secondaryColor;  
  }
}

  //  &--active {
  //   &__line { 
  // transition: transform 0.5s ease;
  // transform: rotate(45deg);
  //   }
  // }

// .menu__burger--active .menu__line::before {
//  top: 0;
//  transform: rotate(90deg);
// }

// .menu__burger--active .menu__line::after {
//  opacity: 0;
// }