.about {
  color: $accent-color;
  &__inner {
    padding: 156px 0 24px;
  }
  &__box {
    display: flex;
    justify-content: center;
  }
  &__title {
    font-size: 16px;
    line-height: 1.4;
    margin-right: auto;
  }
  &__text {
    line-height: 1.4;
    max-width: 592px;
    width: 100%;
    margin-right: auto;
    margin-bottom: 70px;
  }
  &__slogan {
    text-align: center;
    font-size: 16px;
    line-height: 1.1;
    color: rgba(34, 53, 111, 0.5);
    letter-spacing: 0.06em;
  }

}
