.info {
  background-color: #62D0DF;
  &__inner {
    display: flex;
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 178px;
  }
  &__title {
    margin-bottom: 75px;
  }
  &__text {
    max-width: 555px;
  }
  &__text span {
    font-size: 20px;
  }
  &__img {
    margin-left: auto;
  }
}  