.menu {
  display: flex;
  justify-content: space-between;
  padding-top: 28px;
  &__list {
    display: flex;
  }
  &__item {
    &:not(:last-child){
      margin-right: 27px;
    }
  }
  &__link {
    font-size: 14px;
    line-height: 2.2;
    font-weight: 600;
    color: $accent-color;
    &:hover {
      border-bottom: 1px solid #22356F;
    }
  }
  &__btn {
    font-size: 14px;
    padding: 20px 30px;
    background-color: #62D0DF;
    border-radius: 50px;
    color: #fff;  
  }
}